@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Seaweed+Script&display=swap');

// ---------------------------------------------
// Defining different global variables and themes
// ---------------------------------------------

// Setting up theme keys and values - themes are created at compilation time (see __functions)
$themes: (
    light: (
        bg1: rgb(245, 245, 245),
        bg2: rgb(193, 193, 193),
        txt1: rgb(15, 15, 15),
        txt2: rgb(45, 45, 45),
        accents1: rgb(255, 0, 0)
    ),
    dark: (
        bg1: rgb(8, 8, 8),
        bg2: rgb(49, 49, 49),
        txt1: rgb(255, 255, 255),
        txt2: rgb(230, 230, 230),
        accents1:rgb(81, 255, 0)
    )
);

// Constant for calculating default values in functions
$standard: m;

$margin: (
    xs: .5rem,
    s: .75rem,
    m: 1rem,
    l: 1.5rem,
    xl: 2rem,
    xxl: 3.5rem,
    xxxl: 5rem
);

// Line height can function similarly to margin for text
$line-height: (
    xxs: 1.25, 
    xs: 1.5,    
    s: 2,    
    m: 2.5,    
    l: 3,     
    xl: 5,  
    xxl: 10,
    xxxl: 15    
);

$font-weight: (
    xxs: 100,
    xs: 200,
    s: 300,
    m: 400,
    l: 500,
    xl: 600,
    xxl: 700,
    xxxl: 900
);

$font-size: (
    xxs: 0.5rem,
    xs: .75rem,
    s: 1rem,
    m: 1.5rem,
    l: 2rem,
    xl: 2.75rem,
    xxl: 4rem,
    xxxl: 5.5rem
);

// Standard font, for unity's sake in the $standard variable, is 'm'
$font-family: (
    m: #{"Roboto Flex", sans-serif},
    accent-font:  #{"Seaweed Script", cursive},
);
