@use "./_functions";

// ---------------------------------------------
// Defining different global variables, 
// especially for themeing purposes (light/dark)
// ---------------------------------------------

// Setting up theme keys and values - themes are created at compilation time (see below)
$themes: (
    light: (
        bg1: rgb(255, 255, 255),
        bg2: rgb(235, 235, 235),
        accents1: rgb(255, 0, 0)
    ),
    dark: (
        bg1: rgb(0, 0, 0),
        bg2: rgb(255, 0, 0),
        color1: rgb(52, 52, 52),
        accents1:rgb(81, 255, 0)
    )
);

// Mapping out data-themes to their respective values
@each $theme-name, $theme-properties in $themes {
    html[data-theme=#{$theme-name}] {
        @each $property, $value in $theme-properties {
            --#{$property}: #{$value};
        }
    }
}

$margin: (
    xs: .5rem,
    s: .75rem,
    m: 1rem,
    l: 1.5rem,
    xl: 2rem,
    xxl: 2.5rem,
    xxxl: 4rem
);

// Line height can function similarly to margin for text
$line-height: (
    xxs: 1.25, 
    xs: 1.5,    
    s: 2,    
    m: 2.5,    
    l: 3,     
    xl: 5,  
    xxl: 10,
    xxxl: 15    
);

@function getVal($map, $prop) {
    @return map-get($map, $prop)
};

// The mid value (m) in our map is chosen as the constant
@function calculateVal($style-map, $product) {
    @return map-get($style-map, m) * $product
};

.test1 {
    background-color: var(--bg2);

    p {
        line-height: calculateVal($margin, 20);
    }
}