@use "../../Styles_SASS/_forwards" as *;

.hero-container {
    height: 130vh;
    background-color: var_(bg1);
    position: relative;
    overflow: hidden;
    
    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 100vw;
        height: 150px;
        border-top-left-radius: 50% 70%;
        border-top-right-radius: 50% 70%;
        overflow-x: hidden;
        z-index: getVal($z-index, l);
        background-color: var_(inverse-bg1);
    }
}

//=======NAVBAR STYLES=======\\
//===========================\\
nav {
    background-color: $c_black10;
    width: 100%;
    height: 80px;

    div {
        width: 100%;
        max-width: getVal($width, container);
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin: $m_center;

        * {
            display: inline-block;
            height: fit-content;
            margin: getMultiVal($margin, auto, xl);
            @include setTypography(null, xs, txt1, l);
            letter-spacing: 10px;
        }
    }
}

.main-nav {
    position: relative;
    background-color: $c_black10;
    z-index: getVal($z-index, max)
}

.fixed-nav {
    position: fixed;
    transition: all .5s ease-in-out;
    top: 0px;
    z-index: getVal($z-index, nav)
}

.static-nav {
    position: fixed;
    animation: changePosition .35s ease-in-out;
    transition: all .25s ease-in-out;
    top: -80px;
    z-index: getVal($z-index, nav)
}

//===============================\\
//=======END NAVBAR STYLES=======\\

.headline {
    max-width: getVal($width, container);
    display: flex;
    margin: getMultiVal($margin, 6, auto, 2, auto);

    div {
        flex: 0 0 50%;
    }

}

.intro {
    p {
        span:nth-child(1) {
            @include setTypography(accent-font, l, txt1, 3);
        }

        span:nth-child(2) {
            display: inline-block;
            position: relative;

            &::after {
                content: "";
                background-image: url("../../Assets/Images/Other/swoosh.webp");
                display: block;
                background-color: wheat;
                width: 100%;
                aspect-ratio: 367/100;
            }
        }
    }
}
