@use './_variables' as v;

// ---------------------------------------------
// Defining functions to dynamically set
// property values. Probably over-engineered
// this but its okay.
// ---------------------------------------------

/// Mapping out data-themes to their respective values
/// @param {Map} $themes - Submaps for light/dark mode values
@each $theme-name, $theme-properties in v.$themes {
  html[data-theme='#{$theme-name}'] {
    @each $property, $value in $theme-properties {
      --#{$property}: #{$value};
    }
  }
}

/// Creating classes to test and grab values in jsx
/// @param {Map} $themes - Submaps for light/dark mode values
@each $theme-name, $theme-properties in v.$themes {
  .theme-#{$theme-name} {
    @each $property, $value in $theme-properties {
      --#{$property}: #{$value};
    }
  }
}

/// Get multiple values of a property respective to its map
/// @param {Map} $map - Property map containing variables to access
/// @param {Identifier|Number} $prop1 - Key to grab the corresponding value in the map
/// @param {Identifier|Number} $prop2 - Key to grab the corresponding value in the map
/// @param {Identifier|Number} $prop3 - (Optional) Key to grab the corresponding value in the map
/// @param {Identifier|Number} $prop4 - (Optional) Key to grab the corresponding value in the map
/// @return {Any} - Retrieved property values
@function getMultiVal($map, $prop1, $prop2: null, $prop3: null, $prop4: null) {
  @if $prop2==null {
    @warn Use getVal for retrieving single values;
  }

  $combinedValues: null;

  @each $property in $prop1, $prop2, $prop3, $prop4 {
    @if $property !=null {
      @if (type-of($property) ==number) {
        $combinedValues: append($combinedValues, calculateVal($map, $property));
      } @else {
        $combinedValues: append($combinedValues, getVal($map, $property));
      }
    }
  }

  @return $combinedValues;
}

/// Get the value of a property respective to its map
/// @param {Map} $map - Property map containing variables to access
/// @param {Identifier} $prop - Key to grab the corresponding value in the map
/// @return {Any} - Retrieved property value
@function getVal($map, $prop) {
  @if (type-of($prop) ==number) {
    @return calculateVal($map, $prop);
  } @else {
    @return map-get($map, $prop);
  }
}

/// Dynamically calculate custom value of property for
/// cases when the base variables don't suffice.
/// @param {Map} $style-map - Property map containing variables to access
/// @param {Int} $product - Value to multiply with
/// @return {Int} - Calculated property value
@function calculateVal($style-map, $product) {
  @return calc(map-get($style-map, v.$standard) * $product);
}

/// Helper function to unify retrieval of values from variables
/// @param {Identifier} $var - The variable in the theme map to convert
/// @return {Any} - The converted CSS variable
@function var_($var) {
  @return var(--#{$var});
}
