@use "../../Styles_SASS/_forwards" as *;

.template-container {
    background-color: var_(inverse-bg1);
}

.template-creator {
    height: 1500px;
    max-width: getVal($width, container);
    margin: getMultiVal($margin, 0, auto);
    display: flex;
}

.template-creator>div {
    margin-top: getVal($margin, xxxxl);
}

.template-config {
    background-color: rgb(255, 13, 13);
    width: 450px;
    padding: getVal($padding, xl);
    box-sizing: border-box;
}

.template-config>h2 {
    margin-top: 0;
}

.config-columns {
    display: flex;
    justify-content: space-between;

    >div {
        display: flex;
        flex-direction: column;

        &:nth-child(2){
            align-items: flex-end;
        }

        >* {
            height: 50px;
            display: inline-block;
            white-space: nowrap;
        }
    }
}

.template-stage {
    background-color: rebeccapurple;
    padding: getVal($padding, xl);
    flex-grow: 1;
    overflow-x: scroll;
}

.template-scale-preview {
    display: flex;
    white-space: nowrap;
    align-items: baseline;

    >div {
        vertical-align: middle !important;

        &:first-child {
            margin-right: 5px;
        }

        &:first-child, &:nth-child(2) {
            width: 30px;
            flex-shrink: 0;
        }

        &:nth-child(2) {
            margin-right: 65px;
        }
    }
}