@use '../../../../Styles/_forwards' as *;

.stylesheet-modal {
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  background-color: var_(overlay);
  z-index: getVal($z-index, max);
  display: grid;
  place-items: center;
}

.modal-body {
  padding-top: getMultiVal($padding, xxxl);
  width: 80%;
  min-height: 80%;
  background-color: var_(bg2);
}
